.rouge {
    color: crimson
}

.cadre {
    color: crimson; 
    font-weight: bold; 
    border: solid 2px crimson; 
    padding: 5px; 
    width: fit-content;
}

.bold {
    font-weight: bold;
}

.border {
    border: solid black 1px
}

